<script lang="ts">
	import type { LayoutData } from './$houdini'

	export let data: LayoutData
	$: ({ ConventionBySlug } = data)
	$: conventionBySlug = $ConventionBySlug?.data?.conventions[0] || null
</script>

<slot />
