<script lang="ts">
	import type { PageData } from './$houdini'

	export let data: PageData
	$: ({ ConventionBySlug } = data)
	$: conventionBySlug = $ConventionBySlug?.data?.conventions[0] || null
</script>

<div class="convention__main__head">
	<h1>{conventionBySlug?.name}</h1>
	<h2>{conventionBySlug?.untertitel}</h2>
</div>
<div class="convention__main__img">BILD</div>
<div class="convention__main__body">
	<div class="prose">
		<h3>{conventionBySlug?.intro}</h3>
		<div>{@html conventionBySlug?.text}</div>
	</div>
</div>
