<script lang="ts">
	import type { PageData } from './$houdini'
	export let data: PageData

	$: ({ Verein } = data)
	$: verein = $Verein?.data?.verein
</script>

<pre>{JSON.stringify(verein, null, 2)}</pre>
