<script lang="ts">
	import type { LayoutData } from './convention/$types'
	import Menu from './Menu.svelte'
	import '../app.postcss'

	export let data: LayoutData
</script>

<Menu />
<slot />
<pre class="hidden">LayoutData {JSON.stringify(data, null, 2)}</pre>
