<script lang="ts">
	export let items: Array<{ head?: string; body?: string }> = []
	export let headClasses = 'text-inherit bg-inherit'
	export let bodyClasses = 'text-inherit bg-inherit'
	export let easing = 'ease-in-out'
	export let hoverColor = 'text-neutral'
	export let transitionTime = 'duration-300'
</script>

{#if items}
	<section class="accordion">
		{#each items as item, key}
			<div class="item">
				<input id={'acc' + key} type="radio" name="radioselect" class="hidden" />
				<label
					for={'acc' + key}
					class="head block cursor-pointer transition-all
								 hover:font-bold hover:{hoverColor}
								 {headClasses} {easing}">{item?.head}</label
				>
				<div
					class="body overflow-hidden transition-all
								{bodyClasses} {transitionTime} {easing}"
				>
					{@html item?.body}
				</div>
			</div>
		{/each}
	</section>
{/if}

<style lang="postcss">
	.body {
		max-height: 0;
	}
	input:checked ~ .head {
		@apply font-bold text-primary;
	}

	input:checked ~ .body {
		max-height: 80vh;
		max-height: 80dvh;
	}
</style>
