<script lang="ts">
	import Bild from '$lib/components/Bild.svelte'
	export let gallerie: Gallerie
</script>

{#if gallerie}
	<h3>{gallerie.name}</h3>
	<div class="media">
		<pre class="hidden">{JSON.stringify(gallerie, null, 2)}</pre>
		{#each gallerie.media as medium}
			<h4>{medium.directus_files_id.title}</h4>
			<Bild bild={medium.directus_files_id} />
			<p>{medium.directus_files_id.description}</p>
			<pre class="hidden">{JSON.stringify(medium.directus_files_id, null, 2)}</pre>
		{/each}
	</div>
{/if}
