<script lang="ts">
	export let links: {
		href: string
		title: string
		active: string | null
	}[]
	export let active = ''
	export let level = 0
</script>

<section class="links">
	{#each links as link}
		{#if (link.href.split('/')[level] || link.href.toString().split('?kategorie=')[1]) === active}
			<a href={link.href} rel="prefetch" class="active">{link.title}</a>
		{:else}
			<a href={link.href} rel="prefetch">{link.title}</a>
		{/if}
	{/each}
</section>
