<script lang="ts">
	import { page } from '$app/stores'
	import ConventionBase from '../../ConventionBase.svelte'
	import Programmheft from '../../Programmheft.svelte'
	import Guestlist from '../../Guestlist.svelte'

	import type { PageData } from './$houdini'

	export let data: PageData

	$: PunktID = Number($page.url.searchParams.get('punkt')).toString()
	$: GuestID = Number($page.url.searchParams.get('gast')).toString()
	$: ({ CurrentConvention } = data)
	$: currentConvention = $CurrentConvention?.data?.conventions[0]
	$: Abschnitt = $page?.url?.pathname?.split('/')[3]
</script>

{#if currentConvention}
	<ConventionBase conventionBase={currentConvention} />
	<nav class="convention__aside-menu layout__column bg-secondary text-secondary-content">
		{#if Abschnitt === 'gaeste' || Abschnitt == null}
			<Guestlist level="2" guestlist={currentConvention} currentGuestID={GuestID} />
		{/if}
		{#if Abschnitt === 'programm' || Abschnitt == null}
			<Programmheft level="2" programmheft={currentConvention} currentProgrammpunktID={PunktID} />
		{/if}
	</nav>
{/if}
