<script lang="ts">
	import type { LayoutData } from './$houdini'

	import Menu from './Menu.svelte'
	import Logo from './LogoStatic.svelte'
	import Sponsors from './Sponsors.svelte'
	import CallToAction from './CallToAction.svelte'

	export let data: LayoutData
	$: ({ CurrentConvention } = data)
	$: currentConvention = $CurrentConvention?.data?.conventions[0] || null
</script>

<svelte:head>
	<title>
		{currentConvention?.name || 'Los Amigos'}
		- Masters of the Universe Convention -
		{currentConvention?.untertitel || ''}
	</title>
</svelte:head>

{#if currentConvention}
	<div class="convention layout text-base-content">
		<slot />
		<nav class="convention__main-menu bg-primary text-lg text-neutral">
			<div class="logo">
				<Logo />
			</div>
			<Menu level="3" />
			<div class="tickets">
				<div class="cta">
					<CallToAction callToAction={currentConvention}>
						<a href="/convention/tickets" class="">Tickets</a>
					</CallToAction>
				</div>
			</div>
		</nav>
		<aside class="convention__aside bg-inherit text-inherit">
			<Sponsors level="5" sponsors={currentConvention} />
		</aside>
	</div>
{/if}

<style lang="postcss">
	.convention {
		:global(.convention__main-menu) {
			:global(> :where(*)) {
				@apply bg-inherit text-neutral;
			}
			:global(:where(a, a:visited)) {
				@apply text-xl
							 uppercase
							 text-inherit
							 no-underline;
			}
			:global(:where(a:hover, a:active)) {
				@apply text-secondary;
			}
			:global(:where(.active)) {
				cursor: default;
				@apply text-secondary-focus;
			}

			:global(.convention__main-menu__subnav :where(a)) {
				@apply text-base;
			}
			> :global(.tickets) {
				min-width: 15.5rem;
				aspect-ratio: 3 / 1;
			}
			> :global(.tickets a) {
				@apply block
							 text-2xl
							 font-bold
							 uppercase
							 text-secondary
							 hover:text-secondary-focus;
			}
		}
		:global(.convention__aside-menu) {
			> :global(*) {
				@apply z-10
							 bg-inherit
							 text-base
							 text-inherit;
			}
			> :global(.head) {
				@apply text-xl uppercase text-primary-focus;
			}
			:global(.body .legend) {
				@apply text-xs
				 		   uppercase
					 		 text-accent;
				line-height: 1.5rem;
			}
			:global(:where(a, a:visited)) {
				@apply text-inherit
							 no-underline;
			}
			:global(:where(.active, a:hover, a:active)) {
				@apply text-accent;
			}
			:global(.convention__main-menu__subnav :where(a)) {
				@apply text-inherit;
			}
		}
		:global(.convention__aside) {
			> :global(*) {
				@apply bg-neutral;
			}
			> :global(.head) {
				@apply text-accent;
			}
			> :global(.img img) {
			}
			> :global(.img img::before) {
			}
			> :global(.body) {
			}
		}
	}
	:global(.logo svg :where(#path685)) {
		@apply fill-accent-content;
	}
	:global(.logo svg :where(#path833)) {
		@apply fill-accent;
	}
	.layout {
		display: grid;
		height: 100dvh;

		grid-template-areas:
			'.         logo       nav-aside-head .'
			'main-head nav-active nav-aside-head aside-head'
			'main-img  nav-subnav nav-aside-body aside-img'
			'main-body nav-main   nav-aside-body aside-body'
			'main-body tickets    nav-aside-body aside-body';
		grid-template-columns:
			minmax(80ch, 95ch)
			minmax(min-content, 10ch)
			minmax(35ch, 50ch)
			minmax(50ch, 85ch);
		grid-template-rows:
			1fr
			1fr
			min-content
			20fr
			1fr;
	}

	.layout {
		--layout__padding: 1.2rem;
		> :global(.convention__main) {
			display: contents;
			> :global(*) {
				display: grid;
				padding-inline: var(--layout__padding);
			}
			> :global(.convention__main__head) {
				grid-area: main-head;
				align-content: flex-end;
				text-align: left;
				white-space: nowrap;
				padding-block-end: var(--layout__padding);
			}
			> :global(.convention__main__img) {
				grid-area: main-img;
				display: grid;
				overflow: clip;
				align-content: center;
				max-height: 15rem;
			}
			> :global(.convention__main__body) {
				grid-area: main-body;
				padding-block-start: var(--layout__padding);
				align-content: start;
				overflow: auto;
				text-align: justify;
				text-justify: distribute;
			}
		}
		> :global(.convention__main-menu) {
			display: contents;
			> :global(*) {
				display: grid;
				padding-inline: var(--layout__padding);
			}
			> :global(.logo) {
				grid-area: logo;
				min-width: 15.5rem;
				padding: calc(var(--layout__padding) / 1.7);
			}
			> :global(.convention__main-menu__active) {
				grid-area: nav-active;
				align-content: end;
				text-align: left;
				white-space: nowrap;
				padding-block-end: var(--layout__padding);
			}
			> :global(.convention__main-menu__subnav) {
				grid-area: nav-subnav;
				padding-inline: var(--layout__padding);
				align-content: start;
				text-align: right;
				white-space: nowrap;
			}
			> :global(.convention__main-menu__nav) {
				grid-area: nav-main;
				padding-inline: var(--layout__padding);
				padding-block-start: var(--layout__padding);
				align-content: start;
				text-align: left;
				white-space: nowrap;
			}
			> :global(.tickets) {
				padding: calc(var(--layout__padding) / 1.7);
				grid-area: tickets;
				align-content: center;
				text-align: center;
				white-space: nowrap;
			}
		}
		> :global(.convention__aside-menu) {
			display: contents;
			> :global(*) {
				padding-inline: var(--layout__padding);
			}
			:global(.programm) {
				display: contents;
			}
			:global(.guestlist) {
				display: contents;
			}
			> :global(.head) {
				display: grid;
				grid-area: nav-aside-head;
				align-content: end;
				text-align: left;
				padding-block-end: var(--layout__padding);
			}
			> :global(.body) {
				grid-area: nav-aside-body;
				align-content: start;
				text-align: left;
				overflow: auto;
			}
			> :global(.legend) {
				align-content: start;
				text-align: left;
				white-space: nowrap;
			}
			> :global(.body .head) {
				align-content: start;
				text-align: right;
				white-space: nowrap;
				padding-left: calc(var(--layout__padding) * 2);
			}
			> :global(.body .prose) {
				align-content: start;
				text-align: justify;
				text-justify: distribute;
			}
			> :global(.body :where(.event, .panel, .full)) {
				padding-bottom: var(--layout__padding);
			}
		}
		:global(.convention__aside) {
			display: contents;
			> :global(*) {
				display: grid;
				padding-inline: var(--layout__padding);
			}
			> :global(.sponsors) {
				grid-area: auto !important;
				grid-column-start: 3 !important;
				grid-column-end: 5 !important;
				grid-row-start: 3 !important;
				grid-row-end: 5 !important;
			}
			> :global(.head) {
				grid-area: aside-head;
				align-content: flex-end;
				text-align: left;
				white-space: nowrap;
				padding-block-end: var(--layout__padding);
			}
			> :global(.img) {
				grid-area: aside-img;
				display: grid;
				overflow: clip;
				align-content: center;
				max-height: 15rem;
			}
			> :global(.img .splide) {
				max-height: 15rem;
			}
			> :global(.body) {
				padding-block-start: var(--layout__padding);
				grid-area: aside-body;
				align-content: start;
				overflow: auto;
				text-align: flex-start;
				text-justify: distribute;
			}
		}
	}
</style>
