<script lang="ts">
	import { fragment, graphql, type CallToAction } from '$houdini'
	import Zeitraum from './Zeitraum.svelte'
	import Location from './Location.svelte'

	export let callToAction: CallToAction
	export let level = '3'
	let heading = 'h' + level

	$: data = fragment(
		callToAction,
		graphql(`
			fragment CallToAction on conventions {
				start
				ende
				...Location
			}
		`)
	)
</script>

{#if $data?.start && $data?.ende}
	<Zeitraum start={$data?.start} ende={$data?.ende} />
{/if}
<slot />
{#if $data?.location}
	<Location location={$data} />
{/if}
