<script lang="ts">
	import { fragment, graphql, type ConventionBase } from '$houdini'
	import Bild from '$generics/Bild.svelte'
	export let conventionBase: ConventionBase
	$: data = fragment(
		conventionBase,
		graphql(`
			fragment ConventionBase on conventions {
				name
				untertitel
				intro
				text
				logo {
					id
					title
					description
					filename_download
					width
					height
				}
				bild {
					id
					title
					description
					filename_download
					width
					height
				}
			}
		`)
	)
	export let level = '3'
	let heading = 'h' + level
</script>

{#if $data}
	<main class="convention__main layout__column bg-inherit text-inherit">
		<div class="convention__main__head">
			{#if $data.name}<h1>{$data?.name}</h1>{/if}
			{#if $data.untertitel}<h2>{$data?.untertitel}</h2>{/if}
		</div>
		{#if $data?.bild}
			<div class="convention__main__img">
				<Bild {...$data?.bild} />
			</div>
		{/if}
		<div class="convention__main__body">
			<div class="prose max-w-none">
				<h3>{$data?.intro}</h3>
				<div>{@html $data?.text}</div>
			</div>
		</div>
	</main>
{/if}
