<script lang="ts">
	import { fragment, graphql, type Guest } from '$houdini'

	export let guest: Guest
	$: data = fragment(
		guest,
		graphql(`
			fragment Guest on guestlists_personen {
				personen_id {
					id
					anzeigename
					text
					badges
					bild {
						id
						title
						description
						width
						height
					}
				}
			}
		`)
	)
</script>

{#if $data?.personen_id}
	<div class="guest">
		<h5 class="head">
			<a href="/convention/uebersicht/gaeste?gast={$data?.personen_id.id}"
				>{$data.personen_id.anzeigename || null}</a
			>
		</h5>
	</div>
{:else}
	<pre class="">{JSON.stringify($data?.personen_id, null, 2)}</pre>
{/if}
