<script>
	import Akkordion from '$generics/Akkordion.svelte'
	export let guests
	let normalizedGuests = []
		.concat(...guests.map((o) => o.personen_id))
		.map(({ anzeigename: head, text: body, bild: bild }) => ({
			head,
			body
		}))
</script>

{#if normalizedGuests.length > 0}
	<Akkordion items={normalizedGuests} />
{/if}
