<script lang="ts">
	import '@splidejs/svelte-splide/css'
	import { Splide, SplideSlide, SplideTrack } from '@splidejs/svelte-splide'
	import Bild from '$generics/Bild.svelte'
	import { fragment, graphql, type Guest } from '$houdini'
	export let currentGuest: Guest

	$: data = fragment(
		currentGuest,
		graphql(`
			fragment CurrentGuest on guestlists_personen {
				personen_id {
					id
					anzeigename
					text
					badges
					bild {
						id
						title
						description
						width
						height
						filename_download
					}
				}
			}
		`)
	)

	export let level = '3'
	let heading = 'h' + level
</script>

{#if $data?.personen_id?.anzeigename || $data?.personen_id?.text}
	<svelte:element this={heading} id={'pp-' + $data?.personen_id?.id} class="head z-10 bg-neutral"
		>{$data?.personen_id?.badges}</svelte:element
	>
	<div class="img z-20">
		{#if $data?.personen_id?.gallerie?.medien}
			<Splide
				options={{ rewind: true, type: 'fade', autoHeight: true }}
				aria-label={$data?.personen_id?.gallerie?.anzeigename}
			>
				{#each $data.personen_id?.gallerie.medien as bild}
					<SplideSlide>
						<Bild {...bild.directus_files_id} />
					</SplideSlide>
				{/each}
			</Splide>
		{:else if $data.personen_id?.bild}
			<Bild {...$data.personen_id?.bild} extraClass="image_container" />
		{/if}
	</div>
	<div class="body z-20 bg-neutral">
		<div class="programmpunkt prose">
			<h3 class="head">{$data.personen_id?.anzeigename || null}</h3>
			<div class="body">{@html $data.personen_id?.text || null}</div>
		</div>
	</div>
{/if}

<style lang="postcss">
	:global(.splide__pagination) {
		@apply text-accent;
		bottom: 0;
	}
	:global(.splide__arrow--prev) {
		@apply bg-secondary;
		left: 1.6rem;
	}
	:global(.splide__arrow svg) {
		@apply fill-neutral;
	}
	:global(button.splide__pagination__page) {
		@apply bg-accent-content;
	}
	:global(button.splide__pagination__page.is-active) {
		@apply bg-accent;
	}
	:global(.splide__arrow--next) {
		@apply bg-secondary;
		right: 1.6rem;
	}
</style>
