<script lang="ts">
	import { fragment, graphql, type Guestlist, type Guest } from '$houdini'
	import GuestViewer from './GuestViewer.svelte'
	import GuestComponent from './Guest.svelte'
	import GuestlistFoldable from './GuestlistFoldable.svelte'

	export let level: '1' | '2' | '3' = '3'
	export let mode: 'list' | 'fold' = 'list'
	export let guestlist: Guestlist
	export let currentGuestID: string = ''
	let currentGuest: Guest | null

	$: data = fragment(
		guestlist,
		graphql(`
			fragment Guestlist on conventions {
				guestlist {
					id
					name
					text
					guests {
						id
						...CurrentGuest @mask_disable
						...Guest @mask_disable
					}
				}
			}
		`)
	)
	$: heading = 'h' + level
	$: guests = $data?.guestlist?.guests || null
	$: guestId =
		guests && currentGuestID != ''
			? $data?.guestlist?.guests?.findIndex((cg) => cg?.personen_id?.id === currentGuestID)
			: null
	$: currentGuest =
		guestId != (null || undefined) && guests && guests[guestId] ? guests[guestId] : null
</script>

{#if guests?.length != 0}
	<svelte:element this={heading} id="guestlist" class="head">G&auml;ste</svelte:element>
	<div class="body">
		{#if guests}
			{#if mode == 'list'}
				{#each guests as guest}
					{#if guest != null}<GuestComponent {guest} />{/if}
				{/each}
			{/if}
			{#if mode == 'fold'}
				<GuestlistFoldable {guests} />
			{/if}
		{/if}
	</div>
	<div class="convention__aside z-20">
		{#if currentGuest != null && mode == 'list'}
			<GuestViewer {currentGuest} />
		{/if}
	</div>
{:else}
	<pre class="">$data {JSON.stringify($data?.guestlist?.guests, null, 2)}</pre>
{/if}
