<script lang="ts">
	import { fragment, graphql, type Location } from '$houdini'
	import Bild from '$generics/Bild.svelte'

	export let location: Location
	$: data = fragment(
		location,
		graphql(`
			fragment Location on conventions {
				location {
					id
					name
					text
					logo {
						id
						title
						description
						width
						height
						filename_download
					}
					adresse {
						street
						postleitzahl
						ort
					}
					gallerie {
						id
						name
						cover {
							id
							title
							description
							width
							height
							filename_download
						}
						medien {
							id
							directus_files_id {
								id
								title
								description
								width
								height
								filename_download
							}
						}
					}
				}
			}
		`)
	)
</script>

{#if $data?.location?.id}
	<div class="location">
		<p><b>{$data?.location?.name || null}</b>, {$data?.location?.adresse?.ort || null}</p>
		{#if $data?.location?.logo}
			<Bild {...$data?.location?.logo} />
		{/if}
	</div>
{:else}
	<pre class="debug">location: {JSON.stringify($data, null, 2)}</pre>
{/if}
