<script lang="ts">
	import Bild from '$generics/Bild.svelte'
	import { fragment, graphql, type Logo } from '$houdini'

	export let logo: Logo
	$: data = fragment(
		logo,
		graphql(`
			fragment Logo on conventions {
				logo {
					id
					title
					description
					width
					height
				}
			}
		`)
	)
</script>

{#if $data?.logo?.id}
	<Bild extraClass="logo" {...$data.logo} />
{/if}
