<script lang="ts">
	import { page } from '$app/stores'
	import MainNav from '$generics/Links.svelte'
	import SubNav from '$generics/Links.svelte'

	let menuItems = [
		{
			href: '/convention/uebersicht',
			title: 'Übersicht',
			active: '',
			items: [
				{
					href: '/convention/uebersicht/programm',
					title: 'Programm',
					active: ''
				},
				{
					href: '/convention/uebersicht/gaeste',
					title: 'Gäste',
					active: ''
				}
			]
		},
		{
			href: '/convention/besucher',
			title: 'Besucherinfo',
			active: '',
			items: [
				{
					href: '/convention/besucher?kategorie=location',
					title: 'Location',
					active: ''
				},
				{
					href: '/convention/besucher?kategorie=hotels',
					title: 'Hotels',
					active: ''
				},
				{
					href: '/convention/besucher?kategorie=faq',
					title: 'FAQ',
					active: ''
				}
			]
		},
		{
			href: '/convention/team',
			title: 'Team',
			active: '',
			items: [
				{
					href: '/convention/team?kategorie=kern',
					title: 'Kern',
					active: ''
				},
				{
					href: '/convention/team?kategorie=helfer',
					title: 'Helfer',
					active: ''
				},
				{
					href: '/convention/team?kategorie=ehemalige',
					title: 'Ehemalige',
					active: ''
				}
			]
		},
		{
			href: '/convention/tickets',
			title: 'Tickets',
			active: '',
			items: [
				{
					href: '/convention/tickets?kategorie=besucher',
					title: 'Besucher',
					active: ''
				},
				{
					href: '/convention/tickets?kategorie=flohmarkt',
					title: 'Flohmarkt',
					active: ''
				}
			]
		}
	]

	export let level = '2'
	let heading = 'h' + level
	$: routeId = $page.route.id
	$: activeRoot = routeId?.split('/')[1] || menuItems[0].href
	$: activeChild = routeId?.split('/')[2] || ''
	$: activeItem = menuItems.filter((m) => m.href.includes(activeChild))[0] || menuItems[0]
	$: activeGrandchild = $page.url.searchParams.get('kategorie') || undefined
</script>

{#if activeRoot}
	{#if activeItem}
		<svelte:element this={heading} class="convention__main-menu__active disabled active">
			{activeItem.title}
		</svelte:element>
		<div class="convention__main-menu__subnav">
			<SubNav links={activeItem.items} level={3} active={activeGrandchild} />
		</div>
	{/if}
	<div class="convention__main-menu__nav">
		<MainNav links={menuItems} level={2} active={activeChild} />
	</div>
{/if}

<style lang="postcss">
	:global(.links a) {
		display: block;
	}
	:global(.convention__main-menu__nav .links a.active) {
		display: none;
	}
</style>
