<script lang="ts">
	import { fragment, graphql, type Programmpunkt } from '$houdini'

	export let programmpunkt: Programmpunkt
	$: data = fragment(
		programmpunkt,
		graphql(`
			fragment Programmpunkt on programmpunkte {
				id
				name
				text
				bild {
					id
					title
					description
					width
					height
				}
				gallerie {
					id
					name
					medien {
						id
						directus_files_id {
							id
							title
							description
							width
							height
						}
					}
				}
				typ
			}
		`)
	)
</script>

{#if $data?.name || $data?.text}
	<div class="programmpunkt">
		<a
			data-sveltekit-preload-data="hover"
			href="/convention/uebersicht/programm/?punkt={$data.id}"
			class="head block">{$data.name || null}</a
		>
		<div class="body prose hidden">{@html $data.text || null}</div>
	</div>
{/if}
