<script lang="ts">
	// @ts-nocheck
	import Programmpunkt from './Programmpunkt.svelte'
	import { fragment, graphql, type Programmpunkte } from '$houdini'

	export let programmpunkte: Programmpunkte
	$: data = fragment(
		programmpunkte,
		graphql(`
			fragment Programmpunkte on programm {
				programmpunkte {
					id
					name
					typ
				}
			}
		`)
	)

	export let level = '3'
	let heading = 'h' + level

	$: groups = $data.programmpunkte

		?.reduce((curr, val) => {
			let group = curr.find((g) => g.typ === `${val.typ}`)
			if (group) {
				group.pp.push(val)
			} else {
				curr.push({ typ: `${val.typ}`, pp: [val] })
			}
			return curr
		}, [])
		.reverse()
</script>

{#if $data?.programmpunkte}
	<svelte:element this={heading} id="program" class="head">Programm</svelte:element>
	<div class="body grid">
		{#each groups as group}
			<section class="event__{group.typ}">
				<h4 class="text-sm text-accent">
					{#if group.typ == 'full'}Vollzeit{:else}{group.typ.charAt(0).toUpperCase() +
							group.typ.slice(1)}{/if}
				</h4>
				<ul>
					{#each group.pp as programmpunkt}
						<li>
							<Programmpunkt {programmpunkt} />
						</li>
					{/each}
				</ul>
			</section>
		{/each}
	</div>
{/if}
