<script lang="ts">
	//@ts-nocheck
	import Programmpunkte from './Programmpunkte.svelte'
	import ProgrammViewer from './ProgrammViewer.svelte'
	import { fragment, graphql, type Programmheft, type Programmpunkt } from '$houdini'

	export let level = '3'
	export let programmheft: Programmheft
	export let currentProgrammpunktID: string = ''
	let currentProgrammpunkt: Programmpunkt | null

	$: data = fragment(
		programmheft,
		graphql(`
			fragment Programmheft on conventions {
				programm_id {
					id
					name
					programmpunkte {
						...CurrentProgrammpunkt @mask_disable
						...Programmpunkt @mask_disable
					}
				}
			}
		`)
	)
	$: heading = 'h' + level
	$: programmpunkte = $data?.programm_id?.programmpunkte || null
	$: programmpunktId =
		programmpunkte && currentProgrammpunktID != ''
			? $data?.programm_id?.programmpunkte?.findIndex((cpp) => cpp?.id == currentProgrammpunktID)
			: null
	$: currentProgrammpunkt =
		programmpunktId != (null || undefined) && programmpunkte && programmpunkte[programmpunktId]
			? programmpunkte[programmpunktId]
			: null
</script>

{#if programmpunkte?.length != 0}
	<svelte:element this={heading} id="program" class="head">Programm</svelte:element>
	{#if $data.programm_id != null}
		<Programmpunkte programmpunkte={$data?.programm_id} />
		<div class="convention__aside z-10">
			{#if currentProgrammpunkt != null}
				<ProgrammViewer {currentProgrammpunkt} />
			{/if}
		</div>
	{/if}
{/if}
