<script lang="ts">
	import '@splidejs/svelte-splide/css'
	import { Splide, SplideSlide, SplideTrack } from '@splidejs/svelte-splide'
	import Bild from '$generics/Bild.svelte'
	import { fragment, graphql, type Programmpunkt } from '$houdini'
	export let currentProgrammpunkt: Programmpunkt

	$: data = fragment(
		currentProgrammpunkt,
		graphql(`
			fragment CurrentProgrammpunkt on programmpunkte {
				id
				name
				text
				bild {
					id
					title
					description
					width
					height
					filename_download
				}
				gallerie {
					id
					name
					medien {
						id
						directus_files_id {
							id
							title
							description
							width
							height
							filename_download
						}
					}
				}
				typ
			}
		`)
	)

	export let level = '3'
	let heading = 'h' + level
</script>

{#if $data?.name || $data?.text}
	<svelte:element this={heading} id={'pp-' + $data?.id} class="head z-10 bg-neutral"
		>{$data?.typ}</svelte:element
	>
	<div class="img z-20">
		{#if $data?.gallerie?.medien}
			<Splide
				options={{ rewind: true, type: 'fade', autoHeight: false }}
				aria-label={$data?.gallerie?.name}
			>
				{#each $data?.gallerie.medien as bild}
					{#if bild?.directus_files_id?.id}
						<SplideSlide>
							<Bild {...bild.directus_files_id} />
						</SplideSlide>
					{/if}
				{/each}
			</Splide>
		{:else if $data?.bild}
			<Bild {...$data?.bild} extraClass="image_container" />
		{/if}
	</div>
	<div class="body z-20 bg-neutral">
		<div class="programmpunkt prose">
			<h3 class="head">{$data?.name || null}</h3>
			<div class="body ">{@html $data?.text || null}</div>
		</div>
	</div>
{/if}

<style lang="postcss">
	:global(.splide__pagination) {
		@apply text-accent;
		bottom: 0;
	}
	:global(.splide__arrow--prev) {
		@apply bg-secondary;
		left: 1.6rem;
	}
	:global(.splide__arrow svg) {
		@apply fill-neutral;
	}
	:global(button.splide__pagination__page) {
		@apply bg-accent-content;
	}
	:global(button.splide__pagination__page.is-active) {
		@apply bg-accent;
	}
	:global(.splide__arrow--next) {
		@apply bg-secondary;
		right: 1.6rem;
	}
</style>
