<script lang="ts">
	import Bild from '$generics/Bild.svelte'

	import { fragment, graphql, type Sponsor } from '$houdini'

	export let sponsor: Sponsor
	$: data = fragment(
		sponsor,
		graphql(`
			fragment Sponsor on sponsors {
				id
				name
				logo {
					id
					title
					description
					width
					height
				}
				logo_hintergrund
				url
			}
		`)
	)
</script>

{#if $data?.name && $data?.url}
	<a href={$data.url}>
		<div class="sponsor">
			{#if $data.logo}
				<div class="logo">
					<Bild
						{...$data.logo}
						transform={'logo-small'}
						bgColor={$data.logo_hintergrund || undefined}
					/>
				</div>
			{/if}
		</div>
	</a>
{/if}

<style lang="postcss">
	.logo {
		border-radius: 50%;
		overflow: hidden;
		aspect-ratio: 1/1;
		display: block;
		transition: all 300ms ease-in-out;
		z-index: inherit;
		> :global(img) {
			aspect-ratio: 1/1;
			height: 100%;
			width: 100%;
			padding: 2px;
			@apply object-contain;
		}
	}
	.logo:hover {
		border-radius: 10%;
		transform: scale(220%);
		transition: all 300ms ease-in-out;
		z-index: 100;
	}
	.logo > h4 {
		align-content: center;
		text-align: center;
	}
</style>
