<script lang="ts">
	import Hauptsponsor from './Sponsor.svelte'
	import Sponsor from './Sponsor.svelte'
	import { fragment, graphql, type Sponsors } from '$houdini'

	export let sponsors: Sponsors
	$: data = fragment(
		sponsors,
		graphql(`
			fragment Sponsors on conventions {
				hauptsponsor {
					id
					...Sponsor @mask_disable
				}
				sponsors {
					id
					sponsors_id {
						...Sponsor @mask_disable
					}
				}
			}
		`)
	)
	export let level = '4'
	let heading = 'h' + level
	$: rings = 3
	$: items = $data?.sponsors?.length || 0
	$: itemsPerRing = items / rings
</script>

{#if $data?.hauptsponsor && $data?.sponsors}
	<svelte:element this={heading} class="head">Wir werden unterst&uuml;tzt von</svelte:element>
	<div class="sponsors body">
		<div class="orbit">
			<ul class="orbit-wrap">
				<li class="orbit-center">
					<div class="hauptsponsor img"><Hauptsponsor sponsor={$data.hauptsponsor} /></div>
				</li>
				{#each Array(rings) as _, i (i)}
					<li>
						<ul class="ring-{i}">
							{#each $data.sponsors as $sponsor, key}
								{#if $sponsor?.sponsors_id?.logo}
									<li>
										<i class="orbit-icon">
											<Sponsor sponsor={$sponsor.sponsors_id} />
										</i>
									</li>
								{/if}
							{/each}
						</ul>
					</li>
				{/each}
			</ul>
		</div>
	</div>
{/if}

<style lang="scss">
	.sponsors {
		animation: fadeInAnimation ease-in-out 10s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}

	@keyframes fadeInAnimation {
		0% {
			opacity: 0;
		}
		20% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	$orbitItemSize: 1.6em;
	$map: (
		ring-0: 6,
		ring-1: 6,
		ring-2: 6,
		ring-3: 3
	);
	$lastRing: 2;

	* {
		box-sizing: border-box;
	}

	.orbit {
		position: relative;
		overflow: hidden;
	}

	.orbit-icon {
		width: $orbitItemSize;
		height: $orbitItemSize;
		line-height: $orbitItemSize;
		font-size: 1.2em;
		border-radius: 50%;
		text-align: center;
		display: block;
	}

	.orbit-wrap {
		height: 40em;
		list-style: none;
		font-size: 1.3em;

		> li {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			// &:hover {
			// 	ul {
			// 		border-width: 0;
			// 		// border-color: #fff;
			// 	}
			// 	~ li ul {
			// 		// border-color: rgba(255, 255, 255, 0.2);
			// 		li {
			// 			opacity: 0.4;
			// 		}
			// 	}
			// }
		}
	}

	ul[class^='ring'] {
		@extend %ring;
		transition: all 300ms ease-in-out;
		li {
			@extend %orbiting-object;
			transition: all 300ms ease-in-out;
		}
	}

	@mixin orbit-item($numItems, $numRing) {
		@for $s from 1 through $numItems {
			// Spread items over the ring
			$deg: calc(360deg / $numItems);

			.ring-#{$numRing} > *:nth-of-type(#{$s}) {
				transform: rotate($s * $deg) translate(12.5em - ($numRing * 2.5)) rotate(-$s * $deg);
			}
		}
	}

	// Render rings
	@for $i from 0 through $lastRing {
		.ring-#{$i} {
			position: relative;
			// decrease each ring in size
			width: 25em - ($i * 5);
			height: 25em - ($i * 5);
			animation: clockwiseRotate 40s - ($i * 5) linear infinite;

			i {
				animation: counterClockwiseRotate 40s - ($i * 5) linear infinite;
			}
		}
		@include orbit-item(map-get($map, ring-#{$i}), $i);
	}

	%ring {
		box-shadow: none;
		position: relative;
		padding: 0;
		border-radius: 50%;
		list-style: none;
		box-sizing: content-box;
	}

	%orbiting-object {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: $orbitItemSize;
		height: $orbitItemSize;
		margin: calc($orbitItemSize / -2);
	}

	/*
  center;
*/
	.orbit-center {
		z-index: 5;
		font-size: 2em;
		width: 1.8em;
		height: 1.8em;
		line-height: 1.8em;
		text-align: center;
		border-radius: 50%;

		// &:hover .orbit-center__icon {
		// 	transform: rotateZ(0deg);
		// }
	}
	// .orbit-center__icon {
	// 	transform: rotateZ(-360deg);
	// 	transition: all 300ms ease-in-out;
	// }
	// .orbit-wrap > li.orbit-center:hover ~ li > ul {
	// 	width: 0;
	// 	height: 0;
	// 	* {
	// 		transform: translate(0, 0);
	// 	}
	// }

	/*
animations
*/
	@keyframes clockwiseRotate {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}

	@keyframes counterClockwiseRotate {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(-360deg);
		}
	}
</style>
