<script lang="ts">
	export let start: Date, ende: Date
	const format = {
		locale: 'de-DE',
		day: { day: 'numeric' },
		full: { year: 'numeric', month: 'long', day: 'numeric' }
	}

	function zeitraumFormat(start: Date, ende: Date) {
		const startDay = start.toLocaleDateString(
			format.locale,
			format.day as Intl.DateTimeFormatOptions
		)
		const endeDay = ende.toLocaleDateString(format.locale, format.day as Intl.DateTimeFormatOptions)
		const startFull = start.toLocaleDateString(
			format.locale,
			format.full as Intl.DateTimeFormatOptions
		)
		const endeFull = ende.toLocaleDateString(
			format.locale,
			format.full as Intl.DateTimeFormatOptions
		)
		if (startDay !== endeDay) {
			return startDay + '. bis ' + endeFull
		} else return startFull
	}

	$: zeitraum = zeitraumFormat(start, ende)
</script>

{#if zeitraum}
	<div class="datum">{zeitraum}</div>
{/if}
