<script lang="ts">
	import ConventionBase from '../ConventionBase.svelte'
	import Programmheft from '../Programmheft.svelte'
	import Guestlist from '../Guestlist.svelte'
	import { page } from '$app/stores'
	import type { PageData } from './$houdini'

	export let data: PageData

	$: ({ CurrentConvention } = data)
	$: currentConvention = $CurrentConvention?.data?.conventions[0] || null
	$: section = $page.url.searchParams.get('kategorie')
</script>

{#if currentConvention}
	<ConventionBase conventionBase={currentConvention} />
	<nav class="convention__aside-menu layout__column bg-secondary text-secondary-content">
		{#if section === 'gaeste' || section == null}
			<Guestlist level="2" guestlist={currentConvention} />
		{/if}
		{#if section === 'programm' || section == null}
			<Programmheft level="2" programmheft={currentConvention} />
		{/if}
	</nav>
{/if}
