<script lang="ts">
	import ConventionBase from '../ConventionBase.svelte'
	import type { PageData } from './$houdini'
	export let data: PageData

	$: ({ CurrentConvention } = data)
	$: currentConvention = $CurrentConvention?.data?.conventions[0] || null
</script>

{#if currentConvention}
	<ConventionBase conventionBase={currentConvention} />
{/if}
