/* Write your global styles here, in PostCSS syntax */
@import '@fontsource/raleway/latin-400.css';
@import '@fontsource/raleway/latin-900.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-4xl;
		text-transform: uppercase;
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
	}
	h2,
	.prose h2 {
		@apply text-xl text-accent;
		text-transform: uppercase;
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
	}
	h3,
	h4,
	.prose h3,
	.prose h4 {
		@apply text-xl font-bold uppercase text-inherit;
		font-family: 'Raleway', sans-serif;
	}
	.prose h3,
	.prose h4 {
		@apply text-primary;
	}

	h5,
	.prose h5 {
		@apply text-base font-bold text-inherit;
		font-family: 'Raleway', sans-serif;
	}
	a,
	.prose a {
		@apply font-bold;
		font-family: 'Raleway', sans-serif;
	}
	.prose a {
		@apply text-accent underline;
	}
	.prose p {
		@apply text-lg text-inherit;
		max-width: 85ch;
	}
}

.hidden {
	display: none;
}
